student-distrib/boot.o
student-distrib/i8259.o
student-distrib/kernel.o
student-distrib/lib.o
student-distrib/Makefile.dep
student-distrib/x86_desc.o
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
student-distrib/bootimg
student-distrib/keyboard.o
student-distrib/paging.o
student-distrib/rtc.o
student-distrib/tests.o
student-distrib/idt.o
student-distrib/int_wrap.o
student-distrib/fs.o
student-distrib/exception.o
student-distrib/terminal.o
student-distrib/makemsg.txt
student-distrib/process.o
student-distrib/mitest.c
student-distrib/syscall.o
student-distrib/cifs93d0
student-distrib/sig.o
syscalls/sigtest.exe
student-distrib/syscall_wrap.o
student-distrib/pit.o
student-distrib/sched.o
student-distrib/something.txt
student-distrib/warnings.txt
student-distrib/mouse.o
